<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>The Daily Google</title>
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
</head>

<body>
    <div id="grip_wrapper">
        <header class="main-head">
            <div class="brand">
                <a class="navbar-brand" href="#">
                    <img>
                </a>
            </div>
            <div class="main-navbar">
                <ul>
                    <li><a href="#">News Room</a></li>
                    <li><a href="#">Sports News</a></li>
                    <li><a href="#">Weather Reports</a></li>
                </ul>
            </div>
        </header>

        <div class="main_local-news">
            <section class="section-news">
                <h1 id="section-news_title">Good evening, this is what's happening in your world tonight:</h1>
                <div class="local-results">
                    <div id="local-story_img"></div>
                    <div class="local-results_text">
                        <h2 id="local-story_title">I DON'T KNOW WHAT WE'RE YELLING ABOUT!</h2>
                        <p id="local-story_source">LOUD NOISES!
                        </p>
                    </div>
                </div>
            </section>
        </div>

        <main class="main_form">
            <section class="section-form">
                <form class="form-submit" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" pattern="[A-za-z0-9]+" type="text" name="input" value="" onblur="onBlur()"
                        placeholder="Search here for News...">
                    <input id="submit-btn" type="submit" name="" value="Submit"
                        onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
                </form>
            </section>
        </main>

        <div class="main_user-results">
            <section class="section-results">
                <div id="user-results"></div>
            </section>
        </div>

        <footer class="main_footer">
            <section class="section-footer">
                <ul class="footer-list">
                    <li><a href="#">News Room</a></li>
                    <li><a href="#">Sports News</a></li>
                    <li><a href="#">Weather Reports</a></li>
                </ul>
                <p>Channel 4 News Team © Forever...</p>
            </section>
        </footer>

        <script>
            // Check that service workers are suppoerted
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performance
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </div>

</body>

</html>