footer {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 10px 40px;
}

.footer-list {
    display: flex;
    flex-direction: row;
}

.footer-list li{
    padding: 16px;
}