form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
}

.form-submit {
    background-color: midnightblue;
    border-width: 3px;
    border-color: gold;
    border-radius: 5px;
}

.form-submit input {
    font-family: 'Bree Serif', serif;
}

#submit-btn:hover {
    color: whitesmoke;
    background-color: darkred;
    padding: 6px;
}
